*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
}

body{
    overflow-x:hidden;

}

.topnav{
    background-color: #1BA32E;
    width:100vw;
    display:flex;
    gap:93vw;
    padding:8px;
    position:fixed;
}

.topnav svg{
    width:10%;
}

.account{
    padding-top: 5px;
}

.account svg{
    width:45%;
}

.side-bar{
    background-color: #13892A;
    width:20vw;
    height:100vh;
    position:fixed;
    top:49px;
    display:none;

}

li{
    list-style: none;
    padding-bottom:20px;
    
}

a{
    text-decoration: none;
    color: black;
    
}
.side-bar a:hover{
    color: white;
    transition: color 0.3s ease;
}


.main-dir{
    padding-left: 20%;
    padding-top:30px;
}

.sub-dir{
    display:none;
    padding-left:28%;
}

.container-nav{
    display: flex;

}

.container-nav svg{
    width:10%;
    padding-bottom: 15px;
    padding-left: 5px;
}

.container-nav .up{
    display:none;
}

.main{
    width:100vw;
    height:100vh;
    padding-top:80px;
}

.main h2{
    padding-left: 43%;
    padding-bottom: 20px;
    font-size: 50px;
    padding-top:15%;

}