*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x:hidden;

}

.topnav{
    background-color: #1BA32E;
    width:100vw;
    display:flex;
    gap:93vw;
    padding:8px;
    position:fixed;
}

.topnav svg{
    width:10%;
}

.account{
    padding-top: 5px;
}

.account svg{
    width:45%;
}

.side-bar{
    background-color: #13892A;
    width:20vw;
    height:100vh;
    position:fixed;
    top:49px;
    display:none;

}

li{
    list-style: none;
    padding-bottom:20px;
    
}

li a{
    text-decoration: none;
    color: black;
    
}

.side-bar a:hover{
    color: white;
    transition: color 0.3s ease;
}


.account a{
    text-decoration: none;
    color: black;
    padding-top:10px;
}

.main-dir{
    padding-left: 20%;
    padding-top:30px;
}

.sub-dir{
    display:none;
    padding-left:28%;
}

.container-nav{
    display: flex;

}

.container-nav svg{
    width:10%;
    padding-bottom: 15px;
    padding-left: 5px;
}

.container-nav .up{
    display:none;
}

.main h1 {
    margin-left:40%;
    margin-bottom: 30px;

}
    



.main{
    width:100vw;
    height:100vh;
    padding-top: 80px;




}

.container-main{
    display:flex;
    width:100%;
    padding-left:10%;




}






.input{
    display: flex;
    margin-top:30px;
    gap:5px;
    width:100%;
}



.input button{
    margin-top:50px;
    text-decoration: none;
    color: black;
    background-color: #d3f8d8;
    border-style: solid;
    height:50px;
    width:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

