*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x:hidden;

}

.topnav{
    background-color: #1BA32E;
    width:100vw;
    display:flex;
    gap:93vw;
    padding:8px;
    position:fixed;
}

.topnav svg{
    width:10%;
}

.account{
    padding-top: 5px;
}

.account svg{
    width:45%;
}

.side-bar{
    background-color: #13892A;
    width:20vw;
    height:100vh;
    position:fixed;
    top:49px;
    display:none;

}

li{
    list-style: none;
    padding-bottom:20px;
    
}

li a{
    text-decoration: none;
    color: black;
    
}

.side-bar a:hover{
    color: white;
    transition: color 0.3s ease;
}


.account a{
    text-decoration: none;
    color: black;
    padding-top:10px;
}

.main-dir{
    padding-left: 20%;
    padding-top:30px;
}

.sub-dir{
    display:none;
    padding-left:28%;
}

.container-nav{
    display: flex;

}

.container-nav svg{
    width:10%;
    padding-bottom: 15px;
    padding-left: 5px;
}

.container-nav .up{
    display:none;
}

.main h1 {
    margin-left:40%;
    margin-bottom: 30px;

}
    



.main{
    width:100vw;
    height:100vh;
    padding-top: 80px;




}

.container-main{
    display:flex;
    width:80%;
    margin:0 auto;
    padding:0 0 40px;
    justify-content: space-between;
    gap: 60px;
}

.container-main .left{
    width:45%;
}

.container-main .right{
    width:45%;
    margin-left:0;
}

.card-container{
    height: 250px;
    overflow-y: scroll;
}
.container-main .right h2{
    margin-bottom: 2%;
}

.card{
    background-color: #d3f8d8;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    border-color: black;
    border-style:solid;
}

.card .left{
    margin-left:8%;
    font-size: smaller;
}


.card .right{
    margin-left: 25%;
    font-size: smaller;
}






.item{
    display: flex;
    margin-top:30px;
    gap:5px;
    width:100%;
}

.right-bot h2{
    margin-top:20px;
    margin-bottom: 20px;
}

.right-bot{
    display: flex;
    flex-direction: column;
}

.req-btn{
    margin-top:50px;
    width:150px;
    height:50px;
    border-radius: 8px;
    background-color: #d3f8d8;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
}

.req-btn:hover{
    background-color:#c1edc4;
}
