*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x:hidden;

}

.topnav{
    background-color: #1BA32E;
    width:100vw;
    display:flex;
    gap:93vw;
    padding:8px;
    position:fixed;
}

.topnav svg{
    width:10%;
}

.account{
    padding-top: 5px;
}

.account svg{
    width:45%;
}

.side-bar{
    background-color: #13892A;
    width:20vw;
    height:100vh;
    position:fixed;
    top:49px;
    display:none;

}

li{
    list-style: none;
    padding-bottom:20px;
    
}

a{
    text-decoration: none;
    color: black;
    
}

.side-bar a:hover{
    color: white;
    transition: color 0.3s ease;
}

.main-dir{
    padding-left: 20%;
    padding-top:30px;
}

.sub-dir{
    display:none;
    padding-left:28%;
}

.container-nav{
    display: flex;

}

.container-nav svg{
    width:10%;
    padding-bottom: 15px;
    padding-left: 5px;
}

.container-nav .up{
    display:none;
}

.main h1 {
    margin-left:40%;
    margin-bottom: 30px;

}
    



.main{
    width:100vw;
    height:100vh;
    padding-top: 80px;




}

.card{
    background-color: #d3f8d8;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-color: black;
    border-style:solid;



    
}

.card .left{
    margin-left:8%;

}
.card .mid{
    margin-left: 24%;

}

.card .right{
    margin-left: 25%;

}

.card a:hover{
    text-decoration: underline;
    transition: text-decoration 0.5s ease;

}

.filter svg{
    width: 22px;
    height: 22px;
    cursor: pointer;

}

.filter{
    display: inline-flex;
    gap: 8px;
    padding: 8px 12px;

    border-radius: 6px;
    align-items: center;
    
}

.filter form{
   display: none;
}

.customers-table{
    width:80vw;
    border-radius:8px;
    background-color: white;
    
    padding:20px;
    margin:20px auto;

}

.customers-table-container{
    display: flex;
    justify-content: center;
    align-items: center;
}



table, tr, th, td{
    border:solid 2px #13892A;
    border-collapse:collapse;
    padding:10px;
}

th{
    background-color: #1BA32E;
    color: white;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap:60vw;
}

.buttons a,
.buttons button {
    text-decoration: none;
    color: black;
    background-color: #d3f8d8;
    border-style: solid;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 50px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.buttons a:hover, .buttons button:hover {
    background-color: #13892A;
    color: white;
    transition: background-color 0.3s ease;
}


.pie{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.line-chart{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

td a{
    font-weight: bold;
}

td a:hover{
    text-decoration: underline;
}

.right-1{
    margin-left: 10%;
    background-color: #13892A;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.right-1:hover{
    background-color: white;
    color:#13892A;
    transition: all 1s ease;
}

.uppersection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:16px;
    margin-bottom: 0 24px;
    padding:5px 5px 5px 5px;
    background-color: #d3f8d8;
}

.uppersection .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000;
    text-decoration: none;
    font-weight: 600;
}
